@import '../../styles/variables';

.product-card {
  width: 204px;
  color: black;
  font-family: $primary-font-family;
  font-size: 12px;
  padding: 10px 0;
  background-color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;

  > * {
    padding: 0 10px;
  }

  &:hover {
    background-color: rgba(255, 188, 0, 0.1);

    .product-card__image-wrapper {
      background-color: transparent;
    }
  }

  &_theme {
    &_title {
      padding-top: 258px;

      &:hover {
        background-color: unset;
      }

      .product-card__section {
        background-color: white;
      }
    }
  }

  &__image-wrapper {
    height: 183px;
    width: 180px;
    border-radius: 10px;

    margin: 0 10px 15px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-background-color;

    img {
      object-fit: contain;
    }
  }

  &__price {
    font-size: 18px;
    font-family: $secondary-font-family;
  }

  &__name {
    height: 50px;
    max-width: 100%;
    width: 100%;

    font-weight: 600;
    line-height: 15px;
  }

  &__section {
    height: 31px;
    width: 100%;

    line-height: 31px;

    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:nth-child(odd) {
      background-color: $secondary-background-color;
    }
  }

  &__price {
    font-family: $secondary-font-family;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    justify-content: space-between;

    &_red {
      color: $red-font-color;
    }

    &_old-price {
      font-size: 14px;
      color: $disabled-font-color;
      text-decoration: line-through;
    }
  }

  &__btns-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }
}
