@import './fonts';

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: unset;
  outline: none;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}
