$secondary-background-color: #f4f2ee;

$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Proxima Nova', sans-serif;

$red-font-color: #cc0000;
$disabled-font-color: #948f88;

$mediaPfone: '(max-width: 767px)';
