@import '../../styles/variables';

.products-horizontal-viewer {
  position: relative;

  &__title {
    position: absolute;
    left: 0;
    background-color: transparent;
    top: 0;

    @media #{$mediaPfone} {
      width: 100px;
    }
  }

  &__scroll {
    padding-left: 204px;

    @media #{$mediaPfone} {
      padding-left: 100px;
    }
  }
}
