@import '../../styles/variables';

.products-horizontal-viewer {
  padding-left: 204px;

  position: relative;

  @media #{$mediaPfone} {
    padding-left: 100px;
  }

  &__title {
    position: absolute;
    left: 0;
    top: 0;

    @media #{$mediaPfone} {
      width: 100px;
    }
  }
}
